Source: tig
Section: utils
Priority: optional
Maintainer: Sebastian Harl <sh@tokkee.org>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.6), libncurses5-dev, asciidoc (>= 7), xmlto, docbook-utils
Standards-Version: 3.7.2
Homepage: http://jonas.nitro.dk/tig/
XS-Vcs-Git: git://git.tokkee.org/pkg-tig.git
XS-Vcs-Browser: http://git.tokkee.org/?p=pkg-tig.git

Package: tig
Architecture: any
Depends: git-core, ${shlibs:Depends}
Description: fast, scalable, distributed revision control system (CLI repository browser)
 Git is popular version control system designed to handle very large projects
 with speed and efficiency; it is used mainly for various open source projects,
 most notably the Linux kernel.
 .
 Git falls in the category of distributed source code management tools.  Every
 Git working directory is a full-fledged repository with full revision tracking
 capabilities, not dependent on network access or a central server.
 .
 This package contains a command line repository browser capable of displaying
 a summerized revision log and showing commit log messages, diffstats and
 diffs.
 .
 tig may also be used as a pager. It reads input from stdin and colorizes it.

