#!/usr/bin/make -f
# debian/ruls for tig
#
# Written by Sebastian Harl <sh@tokkee.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build: build-stamp

build-stamp:
	dh_testdir
	
	CFLAGS="$(CFLAGS)" $(MAKE) all doc LDLIBS=-lncursesw
	
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	
	$(MAKE) clean
	
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	$(MAKE) install install-doc DESTDIR=$(CURDIR)/debian/tig \
			prefix=/usr mandir=/usr/share/man
	
	mkdir -p debian/tig/etc/bash_completion.d
	cp contrib/tig-completion.bash debian/tig/etc/bash_completion.d/tig
	chmod 644 debian/tig/etc/bash_completion.d/tig

binary-indep:
	# nothing to do here

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs BUGS TODO manual.pdf
	dh_installexamples contrib/tigrc
	dh_link
	dh_strip
	dh_compress -X.pdf
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch

